@import url('https://fonts.googleapis.com/css?family=Open+Sans|Anonymous+Pro&display=swap');

html, body, p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Anonymous Pro', monospace;
}

pre {
    font-family: 'Anonymous Pro', monospace;
}
